---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle='Astro' pageDescription='A simple Astro blog'>
  <h1 transition:name='title'>My great Astro website, blazingly fast!</h1>
</BaseLayout>
